@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
   
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center center;
    background-image: url(imagens/back2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    
}
.container{
    background-color: transparent;
    width: 420px;
    border: 2px solid rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.137);
    
}
h1{ font-size: 2.1em;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;

}
.input-box > input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 20px 45px 20px 20px ;
    border-radius: 10px;
    border: 2px solid rgba(255, 249, 249, 0.281);
    transition: 0.4s;
}


.input-box > input::placeholder{
    color: white;
}
 a{  font-size: 1em;
    color: #34A3FD; 
}
input[type=submit]{
    margin: 0px;  
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 249, 249, 0.281);
    transition: background-color 0.4s ease;
    color: white;
    border-radius: 20px;
}
input[type=submit]:hover{
    background-color: rgba(1, 1, 116, 0.315);
    transition: 0.4s;
}
#remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -12px 0px 15px;
}
#remember-forgot label input{
    accent-color: #006dcc;
    
    color: white;
}

a
a{  
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.input-box i {
    position: absolute;
    right: 20px;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
}
.registro{
 margin: 15px 0px -15px ;
}